<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.joker.kissbud.mapper.AccountMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.joker.kissbud.entity.Account">
        <id column="id" property="id" />
        <result column="user_name" property="userName" />
        <result column="real_name" property="realName" />
        <result column="tele_num" property="teleNum" />
        <result column="sex" property="sex" />
        <result column="email" property="email" />
        <result column="role_id" property="roleId" />
        <result column="role_name" property="roleName" />
        <result column="department_id" property="departmentId" />
        <result column="department_name" property="departmentName" />
        <result column="enable" property="enable" />
        <result column="identity_type" property="identityType" />
        <result column="identity_num" property="identityNum" />
        <result column="remark" property="remark" />
        <result column="password" property="password" />
        <result column="profile" property="profile" />
        <result column="creator" property="creator" />
        <result column="creator_id" property="creatorId" />
        <result column="created_at" property="createdAt" />
        <result column="update_at" property="updateAt" />
        <result column="password_strength" property="passwordStrength" />
        <result column="introduce" property="introduce" />
    </resultMap>

</mapper>
