package ${package.Controller};


import io.swagger.annotations.Api;
import io.swagger.annotations.ApiOperation;
import io.swagger.annotations.ApiParam;
import org.springframework.http.ResponseEntity;
import org.springframework.web.bind.annotation.*;
import org.springframework.beans.factory.annotation.Autowired;

import ${package.Entity}.${entity};
import ${package.ServiceImpl}.${entity}ServiceImpl;


/**
 * @author ${author}
 * @version 1.0
 * @date ${date}
 */
@Api(value = "${table.comment}管理")
@RestController
@RequestMapping("/${package.ModuleName}")
public class ${table.controllerName} {

    @Autowired
    private ${entity}ServiceImpl ${table.entityPath}Service;


    /**
     * ${table.comment}新增
     *
     * @param request
     * @return ResponseEntity<?>
     */
    @ApiOperation(value = "${table.comment}新增", httpMethod = "POST", produces = "application/json", response = ResponseEntity.class)
    @ResponseBody
    @PostMapping("/add")
    public ResponseEntity<?> add(@RequestBody ${entity} request){
        return ResponseEntity.ok(${table.entityPath}Service.save(request));
    }

    /**
     * ${table.comment}修改
     *
     * @param request
     * @return ResponseEntity<?>
     */
    @ApiOperation(value = "${table.comment}修改", httpMethod = "POST", produces = "application/json", response = ResponseEntity.class)
    @ResponseBody
    @PostMapping("/edit")
    public ResponseEntity<?> edit(@RequestBody ${entity} request){
        return ResponseEntity.ok(${table.entityPath}Service.saveOrUpdate(request));
    }

    /**
     * ${table.comment}删除
     *
     * @param id id
     * @return ResponseEntity<?>
     */
    @ApiOperation(value = "${table.comment}删除", httpMethod = "GET", produces = "application/json", response = ResponseEntity.class)
    @ResponseBody
    @GetMapping("/delete")
    public ResponseEntity<?> delete(@ApiParam(name = "id", value = "${table.entityName}id") @RequestParam(defaultValue = "", required = false) Long id) {
        return ResponseEntity.ok(${table.entityPath}Service.removeById(id));
    }


    /**
     * 所有${table.comment}
    *
     * @return ResponseEntity<?>
    */
    @ApiOperation(value = "所有${table.comment}")
    @GetMapping("/list")
    public ResponseEntity<?> list() {
        return ResponseEntity.ok(${table.entityPath}Service.list());
        }

    /**
    * ${table.comment}详情
    *
    * @return ResponseEntity<?>
    */
    @ApiOperation(value = "${table.comment}详情", httpMethod = "GET", produces = "application/json", response = ResponseEntity.class)
    @ResponseBody
    @GetMapping("/getById")
    public ResponseEntity<?> getById(
    @RequestParam(defaultValue = "", required = true) Long id){
        return ResponseEntity.ok(${table.entityPath}Service.getById(id));
    }
}
